<h1>Games</h1>

{{#each docs}}
  show properties of games object
  <h2>id: {{_id}}</h2>
  <a href="/games/{{_id}}"><h2>message: {{message}}</h2></a>
  <h2>email: {{email}}</h2>
  <h2>next: {{next}}</h2>
  <h2>count: {{counter}}</h2>
  <h2>gameId: {{gameId}}</h2>
{{/each}}
