<h1>Games</h1>
<h2>Show properties of games object</h2>
{{#each docs}}
  <h2>id: {{_id}}</h2>
  <!-- <h2>team_id: {{team_id}}</h2> -->
  <h2>user_id: {{user_id}}</h2>
  <h2>text: <a href="/games/{{_id}}">{{text}}</a></h2>
  <!-- <h2>channel_did: {{channel_id}}</h2> -->
  <!-- <h2>channel_name: {{channel_name}}</h2> -->
  <!-- <h2>next: {{next}} (how to do this?)</h2> -->
  <h2>counter: {{counter}}</h2>
  <!-- <h2>gameId/timestamp: {{timestamp}}</h2> -->
  <!-- <h2>prompt: {{prompt}}</h2> -->
{{/each}}
