<p>
  this shows what is in the doc for this game
</p>

<h2>id: {{_id}}</h2>
<h2>message: {{message}}</h2>
<h2>email: {{email}}</h2>
<h2>next: {{next}}</h2>
<h2>count: {{counter}}</h2>
<h2>gameId: {{gameId}}</h2>
<h2>draw prompt: {{draw}}</h2>
<h2>write prompt: {{write}}</h2>

<a href="/games/{{_id}}/edit">next user</a>
